.banner {
	background-image : linear-gradient(-225deg,rgb(20,15,12,0.8) 0%, rgb(120,10,0,0.2) 70%),url(../../images/background.png);
	color:white;
	padding: 200px 0px;
	background-size: cover;
	background-position : center;
	text-align: justify-all;s
}
.banner h1 {
	font-size: 50px;
}

.banner h2 {
	font-size: 30px;
	font-weight: lighter;
	opacity: 0.8;
	margin-bottom: 40px;
}